# dependencies for reproducibility
os
numpy==2.0.2
%matplotlib inline
pandas==2.2.2
geopandas==1.1.3
matplotlib.pyplot
shapely.geometry
shapely==2.1.2
datetime
sklearn.preprocessing
folium==0.20.0
seaborn==0.13.2
plotly==5.22.0
